[submodule "plugins/pelican-ipynb"]
	path = plugins.custom/pelican-ipynb
	url = http://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/blueidea"]
	path =  themes/blueidea
	url = http:///
[submodule "data"]
	path = content/dataology/python-for-data-analysis/data
	url = https://github.com/wesm/pydata-book.git
[submodule "themes/pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = git@github.com:holbrook/pelican-bootstrap3.git
[submodule "themes/pelican-blueidea"]
	path = themes/pelican-blueidea
	url = https://github.com/nasskach/pelican-blueidea.git
