{% extends "base.html" %}
{% block title %} 心内求法 {% endblock %}

{% block content %}
<article  class="entry hentry">
    <header>
        <a href=""><h2></h2></a>
    </header>
    {% for article in (articles_page.object_list if articles_page else articles) %}
        {% include 'particles/article_list_item_with_summary.html' %}
    {%endfor%}
</article>

<div class="clearfix"></div>
{%if loop.last %}
    {% if articles_page.has_previous() or loop.length > 1 %}
        {% include 'nav.html' %}
    {%endif%}
{%endif%}

{% endblock %}
