<ul class="archive-section">
    <li class="date">{{ article.date|strftime('%Y-%m-%d')}}</li>
    <li class="title">
        <a href="{{ siteurl }}/{{ article.url }}" rel="bookmark" title="permalink for {{ article.title|striptags }}" >
        {{article.title}}</a>
        <nav>分类：<a href="{{ siteurl }}/{{ article.category.url }}">{{ article.category }}</a>
        {% if article.tags %} 标签:
                {% for tag in article.tags %}
            <a href="{{SITEURL}}/{{tag.url}}" title="Browse tag: {{tag}}" rel="tag">{{tag}}</a>{%if not loop.last %}, {%endif%}{% endfor %}{% endif %}
        </nav>
    </li>

</ul>
<div class="clearfix"></div>
